/*Style*/

.clsTitle
{
    font-weight: bold;
}

.clsPara
{
    font-weight: 500;
    width: 700px;
    font-size: 18px;
}

.clsStage
{
    border-bottom-style: solid;
    border-bottom-width: medium;
    background-image: linear-gradient(to top, lightgray, white);
    width: 10%;
}
