/*Style*/

.clsTitle
{
    font-weight: bold;
}

.clsPara
{
    font-weight: 500;
    width: 45%;
    font-size: 18px;
}

.clsStage
{
    border-bottom-style: solid;
    border-bottom-width: medium;
    background-image: linear-gradient(to top, lightgray, white);
    width: 200px;
}

#idYT
{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: black; 
}

iframe
{
    width: 80%;
}

span iframe
{
    width: 40%;
}
